.footer {
  background: linear-gradient(to bottom, #121212, #1a1a1a);
  border-top: 3px solid black;
  color: white;
  text-align: center;
  padding: 5px 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  }


  /* Center */
.footer-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: auto;
  height: 90px;
  max-width: 150px;
  transition: transform 0.3s ease-in-out;
}

.footer-logo:hover {
  transform: scale(1.5);
  color: #f21d2f;
}


/* Left Side */
.footer-left {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding: 1px;
  text-decoration: none;
}

  .footer-left a {
    color: white;
    text-decoration: none;
    margin: 0 4px;
    transition: transform 0.3s ease-in-out;
  }

  .footer-left a:hover {
    color: #f21d2f;
    transform: scale(1.05);
    text-decoration: none;
  }

  .footer-left p {
    padding: 1px;
  }

  .footer-link {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }

  .footer-link:hover {
    color: #f21d2f;
    transform: scale(1.05);
    text-decoration: none;
  }

  
  /* Right Side */
  .footer-right {
    display: flex;
    gap: 15px
  }

  .footer-right a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }

  .footer-right a:hover {
    color: #f21d2f;
    transform: scale(1.25);
  }









  @media (max-width: 480px) {
    .footer {
      flex-direction: column;
      align-items: center;
      padding: 10px;
      text-align: center;
    }
  
    .footer-left,
    .footer-center,
    .footer-right {
      flex: unset;
      width: 100%;
      justify-content: center;
      margin-top: 5px;
      flex-wrap: wrap;
    }
  
    .footer-logo {
      max-width: 100px;
      height: auto;
    }
  
    .footer-right a {
      margin: 0 5px;
      font-size: 18px;
    }
  }  



  @media (max-width: 768px) and (min-width: 481px) {
    .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
      padding: 15px 20px;
    }
  
    .footer-left,
    .footer-center,
    .footer-right {
      flex: unset;
      width: 100%;
      justify-content: center;
      margin-top: 5px;
      flex-wrap: wrap;
    }
  
    .footer-right a {
      margin: 0 8px;
      font-size: 18px;
    }
  
    .footer-logo {
      max-width: 100px;
      height: auto;
    }
  }
  